/crawler/.env
/.env
/services/indexer/lib
/services/indexer/__pycache__
/services/indexer/bin
/services/indexer/pyvenv.cfg
/services/indexer/.venv
/services/indexer/.ruff_cache
/services/client/public/assets/styles/*.css
/services/client/public/assets/styles/*.css.map
/services/client/vendor
/services/query_engine/target
/services/indexer/build/classes/java/main/com/nicholasgarcia/ohana/indexer
